body {
    margin: 0%;
    font-family: "/static/quicksand/Quicksand_Bold.otf";
}

/* Custom Font */
@font-face {
    font-family: "/static/quicksand/Quicksand_Bold.otf";
    src: url("/static/quicksand/Quicksand_Bold.otf");
}

.main-container {
    display: block;
    justify-content: start;
    align-items: center;
    height: 100vh;
    background-color: transparent;
    align-content: center;

}

.abstract {
    display: flex;
    padding-left: 10vw;
    backdrop-filter: blur(160px);
    -webkit-backdrop-filter: blur(160px);
}

.abstract img {
    object-fit: contain;
}