<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Classes</title>
    <link rel="stylesheet" href="/static/style.css">

    <style>
        .class-container {
            width: 50%;
            margin: 20px auto;
            padding: 10px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
            margin: 0 auto;
            padding: 20px;
            text-align: center;
        }
    </style>
</head>

<body>

    {{range .}}
    <div class="classe-container">
        <h2 class="starttime">Start Time: {{.Start_Time}}</h2>
        <h2 class="starttime">End Time: {{.End_Time}}</h2>
        <h4 class="courseName">Course: {{.CourseName}}</h4>
        <h6 class="classid">Class ID: {{.ID}}</h6>
        <h6 class="teacherid">Your ID: {{.TeacherID}}</h6>
        <hr>
    </div>

    {{end}}
</body>

</html>